page-about {
  .pane {
    background-color: color($colors, ebackground);
  }
  .about-wrapper {
    padding: 2vh 3vh;
    background-color: color($colors, pearl);
  }

  span.orange {
    color: #cf5300;
  }
  span.red {
    color: #8b0000;
  }
  span.green {
    color: #006400;
  }

}
