page-settings {
  .pane {
    background-color: color($colors, ebackground);
  }
  .general-list {
      padding-top: 3vh;
  }
  .general-list .list-header {
      color: color($colors, dark) !important;
  }
  .general-list .item {
      color: color($colors, primary);
  }

  .app-list .list-header {
      color: color($colors, dark) !important;
  }
  .app-list .item {
      color: color($colors, primary);
  }
}
