<ion-header no-border>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon class="menu-icon" name="menu"></ion-icon>
    </button>
    <ion-title>
        Search Recipes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pane">

  <div class="search-wrapper">

    <ion-item padding>
      <ion-input placeholder="Ingredients" [(ngModel)]="ingredient" (keyup.enter)="getIngredient(ingredient)"></ion-input>
      <button class="action-button" ion-button small icon-only item-right (touchstart)="getImage()">
        <ion-icon name="ios-image"></ion-icon>
      </button>
      <button class="action-button" ion-button small icon-only item-right (touchstart)="getCamera()">
        <ion-icon name="ios-camera"></ion-icon>
      </button>
      <button class="action-button" ion-button small icon-only item-right (touchstart)="getIngredient(ingredient)" [disabled]="!ingredient">
        <ion-icon name="ios-paper-plane"></ion-icon>
      </button>
    </ion-item>

    <ion-list class="ingredient-list">
      <ion-item *ngFor="let ingredient of ingredients">
        <ion-thumbnail item-left>
          <img [src]="ingredient.image">
        </ion-thumbnail>
        <h2>{{helper.capitalizeFirstLetter(ingredient.name)}}</h2>
        <button item-right class="button-delete" ion-button icon-only (click)="removeIngredient(ingredient)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Options
      </ion-list-header>

      <div class="options">
        <ion-item>
          <ion-label>Cuisine</ion-label>
          <ion-select [(ngModel)]="cuisine">
            <ion-option *ngFor="let c of cuisineOptions" [value]="c">{{c.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Diet</ion-label>
          <ion-select [(ngModel)]="diet">
            <ion-option *ngFor="let d of dietOptions" [value]="d">{{d.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Intolerances</ion-label>
          <ion-select [(ngModel)]="intolerances" multiple="true">
            <ion-option *ngFor="let i of intoleranceOptions" [value]="i">{{i.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Max. Calories</ion-label>
          <ion-input [(ngModel)]="maxCalories" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button small full color="primary" (click)="getRecipes()" [disabled]="!ingredients.length">I'm Hungry!</button>
        </ion-item>
      </div>

    </ion-list>
  </div>

  <ion-card class="recipe-card" *ngFor="let recipe of recipes">
    <ion-thumbnail>
        <img data-src="{{ recipe.image }}" (click)="goToDetails(recipe.id)">
    </ion-thumbnail>
    <div class="favorite-wrapper">
      <button [class.favorite]="recipe.favorite" ion-button icon-only (click)="favoriteToggle(recipe)">
        <ion-icon name="heart"></ion-icon>
      </button>
    </div>
    <ion-card-content>
      <div class="recipe-name">
        {{recipe.title}}
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
