page-details {
  .details-container {
    margin-bottom: 3vh;
    font-family: 'MyriadPro-Regular';
    .details-image {
      max-height: 60vh;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .details-info {
      padding: 2vh 30vw 2vh 30vw;
      margin-top: -1vh;
      background-color: color($colors, light);
      .badge {
        color: color($colors, light);
        background-color: color($colors, primary);
      }
      .right {
        float: right;
      }
    }
    .details-wrapper {
      padding: 0 2vh 0 2vh;
      ol {
        color: color($colors, primary);
      }
      ol p {
        color: initial;
      }
    }
  }
  .share-wrapper {
    opacity: 0.8;
    width: 68px;
    height: 68px;
    background-color: color($colors, pearl);
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 180px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .share-button {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      width: 68px;
      height: 68px;
    }
  }

  .nutrient-list {
    .title {
      color: color($colors, dark);
    }
    .amount {
      float: right;
    }
  }
  .nutrient-list .item {
    border: none !important;
  }

}
